:root {
  --primaire-kleur: #211f42;
  --achtergrond-body: linear-gradient(
    135deg,
    #fffdfa 0%,
    #f8f6ff 40%,
    #eae8f9 100%
  );
  --logokleur-rood: #ed4b62;
  --logokleur-blauw: #57c0c8;
  --logokleur-paars: #855991;
  --zwart-text: #2d2d2d;

  --font-size-base: clamp(1rem, 0.5vw + 0.875rem, 1.125rem);
  --font-size-h1: clamp(2.375rem, 2.1447rem + 0.9211vw, 3.25rem);
  --font-size-button-noborder: clamp(1.25rem, 1.0197rem + 0.9211vw, 2.125rem);
}

@font-face {
  font-family: "Manrope";
  src: url(./fonts/Manrope-VariableFont_wght.ttf) format("truetype");
  font-weight: 50 900;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url(./fonts/SpaceMono-Regular.ttf) format("truetype");
  font-weight: 50 900;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url(./fonts/Fraunces-VariableFont_SOFT\WONK\opsz\wght.ttf)
    format("truetype");
  font-weight: 50 900;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url(./fonts/Fraunces-Italic-VariableFont_SOFT\WONK\opsz\wght.ttf)
    format("truetype");
  font-weight: 50 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url(./fonts/Quicksand-VariableFont_wght.ttf) format("truetype");
  font-weight: 50 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  background: radial-gradient(
      circle at 30% 20%,
      rgba(255, 0, 120, 0.15),
      transparent 60%
    ),
    radial-gradient(
      circle at 80% 40%,
      rgba(90, 100, 255, 0.12),
      transparent 70%
    ),
    radial-gradient(circle at 50% 100%, rgba(120, 0, 255, 0.1), transparent 70%),
    #0b0d1a; /* basisnachtkleur */
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

/* styling van de nav */

.navHome {
  padding: 2.6rem 8rem 0rem 8rem;
  position: sticky;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 0 1rem;
}

nav li:first-child {
  margin-right: auto;
  margin-left: 0;
}

nav a {
  text-decoration: none;
  font-size: clamp(0.9rem, 0.4vw + 0.75rem, 1rem);
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--logokleur-blauw);
}

.githubIcon {
  height: 35px;
}

.githubKnop {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: center;
}

.githubKnop:hover .githubIcon {
  color: var(--logokleur-blauw);
}

.heroBackground {
  position: relative;
  width: 100%;
}

header,
.bannerHero {
  background: transparent;
}

nav img {
  height: 50px;
  transition: 0.8s ease;
  padding-top: 0.7rem;
}

.logoKlein {
  display: none;
}

/* animatie van de nav */

.githubKnop svg {
  transition: transform 0.6s ease;
}

.githubKnop:hover svg {
  animation: wiggle 0.5s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-22deg);
  }
  30% {
    transform: rotate(18deg);
  }
  45% {
    transform: rotate(-14deg);
  }
  60% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* styling van de body */

.bannerHero {
  width: 70%;
  box-sizing: border-box;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;

  & h3 {
    font-size: clamp(1rem, 0.8026rem + 0.7895vw, 1.5rem);
    color: #ffffff;
    font-weight: 300;
    font-family: Quicksand, serif;
    margin-top: auto;
  }

  & .textBanner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.bannerHero h2 {
  font-weight: 800;
  font-size: clamp(1.875rem, 1.6118rem + 1.0526vw, 2.875rem);
  font-family: Quicksand, serif;
  color: #ffffff;

  & .gekleurdeTekstBanner {
    background: linear-gradient(
      90deg,
      var(--logokleur-rood) 0%,
      var(--logokleur-paars) 30%,
      var(--logokleur-blauw) 60%,
      var(--logokleur-rood) 100%
    );
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: shine 10s ease-in-out infinite;
  }
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.emojisBanner {
  margin-bottom: auto;
  padding: 0.3rem 1rem;
  font-size: 1.6rem;
  border-radius: 6px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.18) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  box-shadow: inset 0 6px 14px rgba(0, 0, 0, 0.35),
    /* zachte binnenste schaduw */ inset 0 -2px 5px rgba(255, 255, 255, 0.08);
}

.bannerAchtergrond img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: -1;
}

.bannerButton {
  display: flex;
  padding: 0.3rem 1rem 0.4rem 0.3rem;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  gap: 0.3rem;
  border: solid 0.5px #ffffff;
  border-radius: 16px;
  position: relative;
  z-index: 10;
}

.textBannerButton {
  position: relative;
  font-size: var(--font-size-button-noborder);
  color: #ffffff;
  font-size: clamp(0.75rem, 0.5855rem + 0.6579vw, 1.375rem);
  font-weight: 50;
  cursor: pointer;
}

/* .textBannerButton::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 99999;
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.6s ease;
}

.bannerButton:hover .textBannerButton::after {
  width: 100%;
} */

.bannerButton svg {
  height: 2.4rem;
  transition: transform 0.7s ease;
  flex-shrink: 0;
  margin-left: 0;
}

.bannerButton:hover svg {
  transform: rotate(404deg);
}

.word {
  opacity: 0;
  display: inline-block;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.word.visible {
  opacity: 1;
  transform: translateY(0);
}

.mainFooter {
  height: 10vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 16rem);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.35) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px); /* voor Safari */
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;

    & p {
      padding: 0.5rem 0;
      width: max-content;
    }
  }
}

.heroAlles {
  position: relative;
  display: flex;
  min-height: 40vh;
  width: calc(100% - 16rem);
  margin: 3rem 8rem 0rem 8rem;
  padding: 2rem;
  align-items: stretch;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.08); /* iets lichter, koel glas */
  border: 1px solid rgba(255, 255, 255, 0.18); /* subtieler wit randje */
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.05),
    inset 0 0 30px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.heroAlles::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  background-image: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 45%,
    rgba(255, 255, 255, 0) 70%
  );
  background-size: 250% 250%;
  filter: blur(14px);
  animation: shine-move 10s linear infinite alternate;
}
@keyframes shine-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.fotoVanMij {
  display: flex;
  align-items: center;
  margin-left: auto;
  z-index: 999;
}

.fotoVanMij img {
  width: 20vw;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.hidden {
  display: none;
}

.recent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 8rem;
  width: 100%;

  & .recent-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    height: 40rem;
    width: 100%;

    & .recent-1 {
      grid-column: span 5;
    }
    & .recent-2 {
      grid-column: span 3;
    }
    & .recent-3 {
      grid-column: span 3;
    }
    & .recent-4 {
      grid-column: span 5;
    }
    & .recent-5 {
      grid-column: span 4;
    }
    & .recent-6 {
      grid-column: span 4;
    }

    & .recent-1,
    .recent-2,
    .recent-3,
    .recent-4,
    .recent-5,
    .recent-6 {
      padding: 1rem;
      display: block;
      position: relative;
      border: 2px solid transparent;
      border-radius: 8px;
      overflow: hidden;
      background-image: linear-gradient(white, white),
        linear-gradient(
          45deg,
          #211f42 0%,
          #57c0c8 37%,
          #855991 67%,
          #ed4b62 100%
        );
      background-origin: border-box;
      background-clip: padding-box, border-box;
      cursor: pointer;
      text-decoration: none;

      min-height: 14rem;

      & .tile-content {
        z-index: 4;
      }

      & .tile-content h3 {
        font-size: clamp(1.125rem, 0.9276rem + 0.7895vw, 1.875rem);
        z-index: 4;
        color: #211f42;
      }

      & .tile-content small {
        font-size: clamp(0.625rem, 0.5263rem + 0.3947vw, 1rem);
        z-index: 4;
        color: #2d2d2d;
      }

      & .image-wrapper {
        position: absolute;
        width: 25rem;
        bottom: 0%;
        right: 0%;
        height: 12rem;
        overflow: hidden;

        & img {
          height: 24rem;
        }
      }

      & .image-wrapper1 {
        position: absolute;
        width: 25rem;
        bottom: 0%;
        right: -5%;
        height: 12rem;
        overflow: hidden;

        & img {
          height: 18rem;
        }
      }

      & .image-wrapper2 {
        position: absolute;
        width: 25rem;
        bottom: -10%;
        right: -35%;
        height: 12rem;
        overflow: hidden;

        & img {
          height: 14rem;
        }
      }

      & .image-wrapper3 {
        position: absolute;
        width: 25rem;
        bottom: 0%;
        right: 0%;
        height: 16rem;
        width: 50rem;
        overflow: hidden;

        & img {
          position: absolute;
          height: 20rem;
          right: 0;
        }
      }
    }
  }
}

/* ///////////////////////
-----MEDIA QUERIES-----
/////////////////////// */

@media (max-width: 768px) {
  .logoGroot {
    display: none;
  }

  .navHome {
    padding: 1rem 1rem;
  }

  .recent {
    padding: 1rem 1rem;

    & .recent-grid {
      grid-template-columns: repeat(4, 1fr);
      height: auto;

      & .recent-1 {
        grid-column: span 4;
      }
      & .recent-2 {
        grid-column: span 4;
      }
      & .recent-3 {
        grid-column: span 4;
      }
      & .recent-4 {
        grid-column: span 4;
      }
      & .recent-5 {
        grid-column: span 4;
      }
      & .recent-6 {
        grid-column: span 4;
      }

      & .tile-content {
        display: block;
      }
    }
  }

  .logoKlein {
    display: block;
  }

  .logoKlein img {
    height: 30px;
  }

  .contentBox {
    padding: 1rem 1rem;
  }

  nav {
    padding: 1rem 1rem;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  .fotoVanMij img {
    width: 30vw;
  }

  .heroAlles {
    padding: 1rem 2rem;
    margin: 2rem 1rem;
    min-height: auto;
    width: calc(100% - 2rem);
  }
}

@media (min-width: 900px) {
  .bekijkAlles {
    margin: 0.5rem 12rem 0rem 0rem;
  }
}
